.home-container {
  max-width: 800px;
  margin: auto;
  padding: 12px;
  font-family: sans-serif;
}

.button-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #f2f2f2;
  /* background-color: #020202; */
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #eaeaea;
}

.section {
  margin-top: 16px;
}
